<div class="bg_todo" ng-class="{'mini-height': todos.length !== 0}"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron" ng-class="{'mini-jumbotron': todos.length !== 0}">
                <h1>Todos</h1>
                <p class="lead">
                    Never forget to do anything.
                    <br>
                    <br>
                    <a href="" class="btn btn-success" ng-click="addTodo()" ng-if="!addingTodo && $root.currentUser">
                        <i class="fa fa-plus"></i>
                        Add New Todo
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<!--add new note-->
<div class="container">
    <div class="row-fluid" ng-init="newTodo.color='white'">
        <div class="col-md-6" ng-if="addingTodo">
            <div class="panel panel-default">
                <div class="panel-body" ng-class="newTodo.color">
                    <p class="lead" ng-show="newTodo.todos.length === 0">Todo Preview Here</p>
                    <div ng-repeat="newOneTodo in newTodo.todos">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="newOneTodo.done" ng-change="checkNewTodo(newOneTodo)">
                                <span ng-class="{'deleted': newOneTodo.done === true }">{{ newOneTodo.text }}</span>

                                <a style="margin-left: 10px;" ng-click="removeFromTodoList(newOneTodo)"><i class="fa fa-close"></i></a>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" ng-if="addingTodo">
            <div class="panel panel-default">
                <div class="panel-body grey">
                    <input type="text" class="form-control" ng-model="newTodoSingle.text" ng-keyup="$event.keyCode == 13 ? addToTodoList(newTodoSingle) : null" placeholder="I need to..." autofocus>
                    <br/>

                    <form name="addTodoForm" novalidate>
                        <div class="form-group">
                            <button type="button" ng-disabled="addTodoForm.$invalid" ng-click="storeTodo(newTodo)" class="btn btn-success"><i class="fa fa-plus"></i> Add Todos</button>
                            <button type="button" ng-click="cancelAddTodo()" class="btn btn-default"><i class="fa fa-close"></i> Cancel</button>

                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default colorbox green" ng-click="newTodo.color = 'green'" ng-class="{'checked': newTodo.color=='green'}"></button>
                                    <button type="button" class="btn btn-default colorbox blue" ng-click="newTodo.color = 'blue'" ng-class="{'checked': newTodo.color=='blue'}"></button>
                                    <button type="button" class="btn btn-default colorbox white" ng-click="newTodo.color = 'white'" ng-class="{'checked': newTodo.color=='white'}"></button>
                                    <button type="button" class="btn btn-default colorbox yellow" ng-click="newTodo.color = 'yellow'" ng-class="{'checked': newTodo.color=='yellow'}"></button>
                                    <button type="button" class="btn btn-default colorbox red" ng-click="newTodo.color = 'red'" ng-class="{'checked': newTodo.color=='red'}"></button>
                                    <button type="button" class="btn btn-default colorbox orange" ng-click="newTodo.color = 'orange'" ng-class="{'checked': newTodo.color=='orange'}"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group" ng-if="todos.length !== 0">
                <input type="text" class="form-control" ng-model="todoSearchKey" placeholder="search..."/>
            </div>
        </div>
        <div class="col-md-6" ng-repeat="todo in todos | orderBy:['archived', '-createdAt'] | filter:todoSearchKey">
            <div class="panel panel-default">
                <div class="panel-body" ng-class="todo.color">
                    <a href="" ng-click="editTodo(todo)" class="black-text">
                        <h3 class="list-group-item-heading">
                            <span ng-show="!tempCountCompleted && tempCountCompleted !== 0">{{ todo.countCompleted }}/{{ todo.todos.length }} completed</span>
                            <span ng-show="tempCountCompleted || tempCountCompleted === 0">{{ tempCountCompleted }}/{{ todo.todos.length }} completed</span>

                            <span class="badge pull-right" ng-if="todo.archived === true">Archived</span>
                        </h3>
                    </a>
                    <div class="checkbox" ng-repeat="singleTodo in todo.todos">
                        <label>
                            <input type="checkbox" ng-model="singleTodo.done" ng-change="checkTodo(todo, singleTodo)" ng-disabled="editingTodo._id === todo._id">
                            <span ng-class="{'deleted': singleTodo.done === true }">{{ singleTodo.text }}</span>
                        </label>
                    </div>
                    <small class="pull-right text-muted"><em>Last edited <time of="todo.lastUpdatedAt"></time></em></small>
                </div>

                <!--edit note-->
                <div class="panel-body grey" ng-show="editingTodo._id === todo._id">
                    <form class="success" name="editTodoForm" novalidate>
                        <br/>
                        <div class="input-group" ng-repeat="singleTodo in editingTodo.todos">
                            <input type="text" name="title" class="form-control" ng-model="singleTodo.text" autocomplete="OFF">
                            <span class="input-group-btn">
                                <button class="btn btn-danger" ng-click="removeFromEditingTodoList(singleTodo)" type="button">-</button>
                            </span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="$parent.newTodoSingleForEditingTodo.text" ng-keyup="$event.keyCode == 13 ? addToEditingTodoList(newTodoSingleForEditingTodo) : null" placeholder="I need to...">
                        </div>

                        <div class="form-group">
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group" role="group">
                                    <button type="button" ng-click="updateTodo()" class="btn btn-success"><i class="fa fa-check"></i> Update</button>
                                    <button type="button" ng-click="cancelUpdateTodo()" class="btn btn-default"><i class="fa fa-close"></i></button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default colorbox green" ng-click="changeColor('green')" ng-class="{'checked': editingTodo.color=='green'}"></button>
                                    <button type="button" class="btn btn-default colorbox blue" ng-click="changeColor('blue')" ng-class="{'checked': editingTodo.color=='blue'}"></button>
                                    <button type="button" class="btn btn-default colorbox white" ng-click="changeColor('white')" ng-class="{'checked': editingTodo.color=='white'}"></button>
                                    <button type="button" class="btn btn-default colorbox yellow" ng-click="changeColor('yellow')" ng-class="{'checked': editingTodo.color=='yellow'}"></button>
                                    <button type="button" class="btn btn-default colorbox red" ng-click="changeColor('red')" ng-class="{'checked': editingTodo.color=='red'}"></button>
                                    <button type="button" class="btn btn-default colorbox orange" ng-click="changeColor('orange')" ng-class="{'checked': editingTodo.color=='orange'}"></button>
                                </div>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" ng-if="todo.archived === false" ng-click="archive()" class="btn btn-success"><i class="fa fa-archive"></i></button>
                                    <button type="button" ng-if="todo.archived === true" ng-click="unArchive()" class="btn btn-success"><i class="fa fa-archive"></i></button>
                                    <button type="button" ng-click="deleteTodo(editingTodo)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>